
.boxText
 position: relative 
 top: 50% 
 transform: translateY(-50%) 

.buttonOne, .boxOne
 background-color: lightgray
 box-shadow: 2px 2px 2px
 border: 2px solid black
 opacity: .5
 width: 45%
 height: 450px 
 border-radius: 50px 50px

.boxOne 
 float: left 
 margin-left: -4%
 text-align: center

.buttonOne
 float: right 
 margin-right: -4%

.buttonOne:hover
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
 
.buttonOne:focus
 outline: 1px dashed grey



