
.secondBoxText
 position: relative
 top: 50%
 transform: translateY(-50%)
 

.secondBox, 
 background-color: lightgray
 box-shadow: 2px 2px 2px
 border: 2px solid black
 opacity: .5
 float: left 
 width: 20%
 height: 450px
 margin-left: -4%
 border-radius: 50px 50px
 text-align: center 

.secondBoxTwo
 background-color: lightgray
 box-shadow: 2px 2px 2px
 border: 2px solid black
 opacity: .5
 float: left 
 margin-left: 25%
 width: 20%
 height: 450px 
 border-radius: 50px 50px
 text-align: center

.secondButton
 background-color: lightgray
 box-shadow: 2px 2px 2px
 border: 2px solid black
 opacity: .5
 float: right
 width: 20%
 margin-right: -4%
 height: 450px
 border-radius: 50px 50px
 text-align: center