
.boxTextThree
 position: relative
 top: 50% 
 transform: translateY(-50%)

.boxThree, .thirdBoxTwo, .thirdBoxOne, .boxSeven
 background-color: lightgray
 box-shadow: 2px 2px 2px
 border: 2px solid black
 opacity: .5
 width: 20%
 height: 125px
 border-radius: 20%
 text-align: center

.thirdBoxOne
 float: left 

.thirdBoxTwo
 margin-left: 20%

.boxThree, .thirdBoxTwo
 float: right

.boxSeven
 margin-right: 40.3%  
 margin-top: 3%
 float: right

.thirdBoxOne:hover
 box-shadow: 0 12px 16px 0 rgba(59,89,125,0.5), 0 17px 50px 0 rgba(59,89,125,0.3)

.thirdBoxTwo:hover
 box-shadow: 0 12px 16px 0 rgba(161,205,115,0.7), 0 17px 50px 0 rgba(161,205,115,0.5)

.boxThree:hover
 box-shadow: 0 12px 16px 0 rgba(255,103,0,0.5), 0 17px 50px 0 rgba(255,255,255,0.3)

.boxSeven:hover
 box-shadow: 0 12px 16px 0 rgba(204,0,152,0.24), 0 17px 50px 0 rgba(204,0,152,0.24)



















